.App {
	text-align: center;
	/* color: #61dafb; */
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.NavBar {
	color: blue;
}
#fullpage.no-scroll{
    overflow-y: hidden;
    max-height: 100vh;
}

.section{
background-repeat: no-repeat;
background-size:cover;
background-position: center;

}

img {  
    max-width: 100%;  
    height: auto;  
}  
.content{
    position: fixed;
    top:20%;
    transform: translateX(-50);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color:var(--primary--color);
}
.title{
font-size: 2.5rem;
font-weight: bold;
margin-bottom: 0.5rem;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: 500;
}
.subtitle a{
    color: inherit;
}
.dyn-height {
    width:100px;
    max-height:250px;
    overflow-y:scroll;
}
